In [2]:
## Stay For Long Test

In [51]:
import pandas as pd

Data = pd.read_csv('stayforlong_bookings.csv') 

Data.head()

country_name = Data['country'].unique()

#country = Data.groupby(['country']).size().reset_index(name='count').sort_values(ascending=False, by=['count'])
country = Data.groupby(['country']).size().reset_index(name='count').sort_values(ascending=False, by=['count'])

#most_popular_guest_orgin
#country_name

country.head(1) #48499

    country  count
146     SOM  48590

In [69]:
Data.head()

#date = Data['arrival_date_month'] +  Data['arrival_date_year']
# In[17]:df['combined']=df['bar'].astype(str)+'_'+df['foo']+'_'+df['new']

Data['date_combined'] = Data['arrival_date_year'].astype(str) + ':' + Data['arrival_date_month'] + ':' + Data['arrival_date_day_of_month'].astype(str)


#Data['date_combined'].head()
Data.head()

,hotel,is_canceled,booking_to_arrival_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,parking_lot,total_of_special_requests,reservation_status,reservation_status_date,date_combined
0,Apartment,0,277,2015,October,41,6,2,5,2,...,273.0,NaN,0,Transient-Party,77.29,0,0,Check-Out,2015-10-13,2015:October:6
1,Hotel,1,109,2016,February,9,21,2,1,2,...,19.0,NaN,44,Transient,75.00,0,0,Canceled,2015-12-18,2016:February:21
2,Hotel,0,102,2015,October,42,16,0,2,2,...,6.0,NaN,0,Transient-Party,109.00,0,0,Check-Out,2015-10-18,2015:October:16
3,Apartment,1,35,2017,April,15,13,1,3,2,...,240.0,NaN,0,Transient,162.00,0,0,Canceled,2017-03-09,2017:April:13
4,Hotel,1,164,2017,June,24,14,0,3,2,...,14.0,NaN,0,Transient,117.00,0,0,Canceled,2017-06-12,2017:June:14