In [2]:
## Stay For Long Test

In [1]:
import pandas as pd
import numpy as np

In [5]:
Data = pd.read_csv('stayforlong_bookings.csv') 



df = Data.copy()
df.head()

,hotel,is_canceled,booking_to_arrival_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,parking_lot,total_of_special_requests,reservation_status,reservation_status_date
0,Apartment,0,277,2015,October,41,6,2,5,2,...,No Deposit,273.0,NaN,0,Transient-Party,77.29,0,0,Check-Out,2015-10-13
1,Hotel,1,109,2016,February,9,21,2,1,2,...,Non Refund,19.0,NaN,44,Transient,75.00,0,0,Canceled,2015-12-18
2,Hotel,0,102,2015,October,42,16,0,2,2,...,No Deposit,6.0,NaN,0,Transient-Party,109.00,0,0,Check-Out,2015-10-18
3,Apartment,1,35,2017,April,15,13,1,3,2,...,No Deposit,240.0,NaN,0,Transient,162.00,0,0,Canceled,2017-03-09
4,Hotel,1,164,2017,June,24,14,0,3,2,...,No Deposit,14.0,NaN,0,Transient,117.00,0,0,Canceled,2017-06-12

In [56]:
##check if the dataset contains a None values##

df.isnull().values.any() # reture True so further checking required 

df.isnull().sum().sort_values()[-5:]

Data.dtypes

hotel                              object
is_canceled                         int64
booking_to_arrival_time             int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
board                              object
country                            object
market_segment                     object
acquisition_channel                object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
parking_lot                         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [33]:
#missing values from children, comapny, agent (data types float64) country (data types object)

df['children'] = df['children'].fillna(0)

df[['company', 'agent', 'country']] = df[['company', 'agent', 'country']].fillna('NULL')

#df.head()
#df.isnull().sum().sort_values()[-5:]
df.isnull().sum().sort_values()
df.isnull().values.any()

df.dtypes

hotel                              object
is_canceled                         int64
booking_to_arrival_time             int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
board                              object
country                            object
market_segment                     object
acquisition_channel                object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                              object
company                            object
days_in_waiting_list                int64
customer_type                      object
adr                               float64
parking_lot                         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
date_combined                      object
dtype: object

hotel                              object
is_canceled                         int64
booking_to_arrival_time             int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
board                              object
country                            object
market_segment                     object
acquisition_channel                object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                              object
company                            object
days_in_waiting_list                int64
customer_type                      object
adr                               float64
parking_lot                         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
date_combined                      object
dtype: object

In [6]:
country_name = df['country'].unique()

#country = Data.groupby(['country']).size().reset_index(name='count').sort_values(ascending=False, by=['count'])
country = df.groupby(['country']).size().reset_index(name='count').sort_values(ascending=False, by=['count'])

#most_popular_guest_orgin
#country_name

country.head(1) #48499

    country  count
146     SOM  48590

In [7]:


#date = Data['arrival_date_month'] +  Data['arrival_date_year']
# In[17]:df['combined']=df['bar'].astype(str)+'_'+df['foo']+'_'+df['new']

df['date_combined'] = df['arrival_date_day_of_month'].astype(str) + '/' + df['arrival_date_month'] + '/' + df['arrival_date_year'].astype(str)


#Data['date_combined'].head()
df.head()

,hotel,is_canceled,booking_to_arrival_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,parking_lot,total_of_special_requests,reservation_status,reservation_status_date,date_combined
0,Apartment,0,277,2015,October,41,6,2,5,2,...,273.0,NaN,0,Transient-Party,77.29,0,0,Check-Out,2015-10-13,6/October/2015
1,Hotel,1,109,2016,February,9,21,2,1,2,...,19.0,NaN,44,Transient,75.00,0,0,Canceled,2015-12-18,21/February/2016
2,Hotel,0,102,2015,October,42,16,0,2,2,...,6.0,NaN,0,Transient-Party,109.00,0,0,Check-Out,2015-10-18,16/October/2015
3,Apartment,1,35,2017,April,15,13,1,3,2,...,240.0,NaN,0,Transient,162.00,0,0,Canceled,2017-03-09,13/April/2017
4,Hotel,1,164,2017,June,24,14,0,3,2,...,14.0,NaN,0,Transient,117.00,0,0,Canceled,2017-06-12,14/June/2017